<div [class.menu-opened]="menuOpened">
    <div class="navbar">
        <div class="nav-logo">
            <h2>Scraptel</h2>
            <span class="icon-close" (click)="closeMenu()"></span>
        </div>
        <div class="nav-links">
            <ul>
                <li><a routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
                <li><a routerLink="about" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">About</a></li>
                <li><a routerLink="a" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Sell Scrap</a></li>
                <li><a routerLink="a" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Contact</a></li>
            </ul>
        </div>
        <div class="nav-buttons">
            <button class="login" type="submit">Login</button>
            <button class="register" type="submit">Get Started</button>
        </div>
        <span class="hamburger-menu icon-hamburger" (click)="openMenu()"></span>
    </div>
</div>