@use '../../../../assets/styles/theme.scss' as *;

.navbar {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vw 4vw;
}

.nav-links ul {
    display: flex;
    justify-content: space-between;
    gap: 3vw;
    list-style-type: none;
}

.nav-buttons {
    .login, .register {
        padding: .6vw;
        margin-left: 1vw;
        border-radius: .5vw;
    }

    .login {
        background-color: $white;
        border: .1vw solid $light-color-hover;
    }

    .register {
        background-color: $primary-color;
        color: $white;
        border: none;
    }
}

.hamburger-menu {
    display: none;
}

// media queries
@media (max-width: 600px) {
    .navbar {
        .nav-links ul, .nav-buttons {
            display: none;
        }
    }
    .hamburger-menu {
        display: block;
        font-size: 30px;
        cursor: pointer;
    }
}