<app-navbar></app-navbar>

<!-- hero section -->
 <div class="hero-section">
    <div class="container">
      <h1 class="tagline">turn your scrap into <span>cold hard cash</span></h1>
      <p>Get fair prices for your metal, electronics, plastic, and more. Free pickup, instant payment, and eco-friendly recycling.</p>
      <div class="action-buttons">
            <button class="calculate-value-now">Calculate value now</button>
            <button class="how-it-works">How it works</button>
        </div>
        <div class="why-scraptel">
            <ul>
                <li>
                    <span class="icon icon-secure"></span>
                    Trusted & Secure
                </li>
                <li>
                    <span class="icon icon-pickup"></span>
                    Fast Pickup
                </li>
                <li>
                    <span class="icon icon-dollar"></span>
                    Best Prices
                </li>
            </ul>
        </div>
    </div>
 </div>

 <!-- stats section -->
<div class="stats-section">
    <div class="container">
        <mat-card class="card">
            <mat-card-header>
                <mat-card-title class="icon-users"></mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <h1 class="title">50k+</h1>
            </mat-card-content>
            <mat-card-footer>
                <p>Happy Customers</p>
            </mat-card-footer>
        </mat-card>
        <mat-card class="card">
            <mat-card-header>
                <mat-card-title class="icon-dollar"></mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <h1 class="title">$2.5M+</h1>
            </mat-card-content>
            <mat-card-footer>
                <p>Paid to Sellers</p>
            </mat-card-footer>
        </mat-card>
        <mat-card class="card">
            <mat-card-header>
                <mat-card-title class="icon-recycle"></mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <h1 class="title">100K+</h1>
            </mat-card-content>
            <mat-card-footer>
                <p>Tons Recycled</p>
            </mat-card-footer>
        </mat-card>
        <mat-card class="card">
            <mat-card-header>
                <mat-card-title class="icon-graph_arrow"></mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <h1 class="title">98%</h1>
            </mat-card-content>
            <mat-card-footer>
                <p>Customer Satisfaction</p>
            </mat-card-footer>
        </mat-card>
    </div>
</div>