<app-navbar></app-navbar>

<!-- hero section -->
 <div class="hero-section">
    <div class="container">
      <h1 class="tagline">turn your scrap into <span>cold hard cash</span></h1>
      <p>Get fair prices for your metal, electronics, plastic, and more. Free pickup, instant payment, and eco-friendly recycling.</p>
      <div class="action-buttons">
            <button class="calculate-value-now">Calculate value now</button>
            <button class="how-it-works">How it works</button>
        </div>
        <div class="why-scraptel">
            <ul>
                <li>
                    <span class="icon icon-secure"></span>
                    Trusted & Secure
                </li>
                <li>
                    <span class="icon icon-pickup"></span>
                    Fast Pickup
                </li>
                <li>
                    <span class="icon icon-dollar"></span>
                    Best Prices
                </li>
            </ul>
        </div>
    </div>
 </div>