<!-- login section -->
<section class="login-section">
    <div class="header">
        <span class="icon-close" matButton mat-dialog-close></span>
        <h2 class="heading" mat-dialog-title>Welcome Back</h2>
        <p class="tagline">Sign in to your Scraptel account to manage your scrap sales</p>
    </div>
    <div class="form">
      <form action="">
        <label class="email" for="">Email Address</label>
        <span class="icon-mail"></span>
        <input type="email" placeholder="Enter your email" name="" />

        <label class="password" for="">Password</label>
        <span class="icon-lock"></span>
        <input type="password" placeholder="Create a password" name="" />

        <p>Forget Password?</p>

        <button class="create-account">Sign In</button>
      </form>
    </div>
    <div class="dont-have-account">
      <p>Don't have an account? <span class="sign-up">Create account</span></p>
    </div>
</section>
