// font-family
$font-family: 'Open Sans', sans-serif;

// Theme colors
$primary-color: #8AA624;
$secondary-color: #FEA405;
$background-color: #DBE4C9;
$light-color: #FFFFF0;

// Text colors


// hover colors
$primary-color-hover: #859f26;
$secondary-color-hover: #f49b03;
$light-color-hover: #F0F0F0;

// colors
$black: #000;
$white: #fff;