// Section
$section-margin-top: 1em;
$section-padding-x: 4vw;
$section-padding-y: 2vw;

// Other Font Sizes
$heading-font-size: 5vh;
$tagline-font-size: 3vh;

// Buttons
$buttons-gap: 2rem;
$buttons-margin: 2rem 0;
$button-padding: 1rem 2rem;
$button-font-size: 1.2rem;
$button-radius: 5px;

// Cards
$cards-gap: 2rem;
$cards-padding: 0 4vw;
$card-padding: 2em;


// Icons
$icon-margin: 1vh;

// Boredr
$border-radius: .6em;